doc/s3api/rnc/complete_multipart_upload.rnc

start =
  element CompleteMultipartUpload {
    element Part {
      element ChecksumCRC32 { xsd:string }? &
      element ChecksumCRC32C { xsd:string }? &
      element ChecksumSHA1 { xsd:string }? &
      element ChecksumSHA256 { xsd:string }? &
      element ETag { xsd:string } &
      element PartNumber { xsd:int }
    }+
  }
