doc/s3api/rnc/lifecycle_configuration.rnc

include "common.rnc"

start =
  element LifecycleConfiguration {
    element Rule {
      element ID { xsd:string }? &
      element Filter { Filter } &
      element Status { "Enabled" | "Disabled" } &
      element AbortIncompleteMultipartUpload {
          element DaysAfterInitiation { xsd:positiveInteger }
      }? &
      element Expiration { Expiration }? &
      element NoncurrentVersionExpiration {
        element NoncurrentDays { xsd:positiveInteger }
      }? &
      element NoncurrentVersionTransition { NoncurrentVersionTransition }? &
      element Transition { Transition }?
    }+
  }

Expiration =
  element Days { xsd:nonNegativeInteger } |
  element Date { xsd:dateTime } |
  element ExpiredObjectDeleteMarker { xsd:boolean }

Filter =
  element Prefix { xsd:string } |
  element Tag { Tag } |
  element And {
      element Prefix { xsd:string }? &
      element Tag { Tag }+
  }

NoncurrentVersionTransition =
  element NoncurrentDays { xsd:nonNegativeInteger } &
  element StorageClass { StorageClass }

Tag =
  element Key { xsd:string } &
  element Value { xsd:string }

Transition =
  Expiration &
  element StorageClass { StorageClass }
