doc/s3api/rnc/object_lock_configuration.rnc

include "common.rnc"

start =
  element ObjectLockConfiguration {
    element ObjectLockEnabled { "Enabled" | "Disabled" | xsd:string } &
    element Rule {
      element DefaultRetention {
        element Mode { xsd:string }&
        (element Days { xsd:integer } )* &
        (element Years { xsd:integer })*
      }
    }
  }
