doc/s3api/rnc/server_side_encryption_configuration.rnc

start =
  element ServerSideEncryptionConfiguration {
    element Rule {
      element ApplyServerSideEncryptionByDefault {
        element SSEAlgorithm { "AES256" | "aws:kms" | "aws:kms:dsse" } &
        element KMSMasterKeyID { xsd:string }?
      }?,
      element BucketKeyEnabled { xsd:boolean }?
    }+
  }
