swift/common/middleware/s3api/schema/tagging.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="common.rng"/>
  <start>
    <element name="Tagging">
      <element name="TagSet">
        <zeroOrMore>
          <element name="Tag">
            <ref name="Tag"/>
          </element>
        </zeroOrMore>
      </element>
    </element>
  </start>
</grammar>
